.search-div {
	display: none;
	position: absolute;
	top: var(--wp-admin-bar, 0);
	left: 0;
	height: calc(100vh - var(--wp-admin-bar, 0px));
	width: 100%;
	overflow-y: hidden;
	background: white;
	z-index: 200;
	align-items: center;
	justify-content: center;

	&.visible {
		display: flex;
	}

	.search-div__close {
		position: absolute;
		top: 0;
		right: 0;
	}
}