.main-navigation {
	display: block;
	position: absolute;
	top: calc(var(--wp-admin-bar, 0) + var(--header-height, 150px));
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: white;
	text-transform: uppercase;
	height: calc(100% - var(--wp-admin-bar, 0px) - var(--header-height, 150px));
	
	transform: translateY(-200%);
	// transition: transform .5s ease-in-out;
	
	@media (max-width: 63.9375em) {
		overflow-y: scroll;
	}

	@media (min-width: 64em) {
		display: flex;
		justify-content: center;
	}
	
	&.toggled {
		transform: translateY(0);

		// .nav-menu {
		// 	display: flex;
		// }
	}

	.nav-menu {
		display: flex;
		flex-flow: column nowrap;
		padding-block-start: 37px;
		padding-inline-start: var(--site-padding-inline, 20px);
		padding-inline-end: var(--site-padding-inline, 20px);
		
		@media (min-width: 64em) {
			flex-flow: row wrap;
			gap: 2vw;
			max-width: calc(1235px + var(--site-padding-inline) * 2);
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		& > li.menu-item-has-children {
			display: flex;
			flex-flow: column wrap;
			
			@media (max-width: 47.9375em) {
			}
			
			@media (min-width: 48em) {
				align-items: center;
			}
		}

		& > li.menu-item-has-children > a,
		& > li.menu-item-has-children > span {
			display: block;
			line-height: calc(29 / 24);
			font-weight: 300;
			
			@media (max-width: 47.9375em) {
				font-size: calc(18rem / 16);
			}
			
			@media (min-width: 48em) {
				font-size: calc(24rem / 16);
				text-align: center;
				max-width: 180px;
				min-height: 20vh;
			}
		}

		ul {
			margin-bottom: .5em;
			padding-left: 1em;

			li {
				position: relative;
				line-height: calc(21 / 18);
				font-weight: 500;
				
				&::before {
					content: ">";
					position: absolute;
					left: -1em;
				}
				
				@media (max-width: 47.9375em) {
					font-size: calc(12rem / 16);
					margin-block-end: 1em;
				}
				
				@media (min-width: 48em) {
					font-size: calc(18rem / 16);
					margin-block-end: 2em;
				}

				&:hover > ul,
				&.focus > ul {
					// display: block;
					// left: auto;
				}	
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}
	}

	a {
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
