.current_page_item > a,
.current-menu-item > a,
.current_page_ancestor > a,
.current-menu-ancestor > a {
}

ul.menu {
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding-left: 0;
	
	& > li.menu-item--title {

		& .sub-menu li {
			transform: translateX(0);
			transition: transform .2s ease-in-out;

			&:not(.current-menu-item):hover, &:not(.current-menu-item):focus {
				transform: translateX(1em);
			}
		}

		& .sub-menu li.current-menu-item {

			&:hover, &:focus {
				transform: translateX(0);
			}

			.catalogues-submenu,
			.winners-submenu {

				& li:hover {
					transform: translateX(0);
				}

			}

		}

	}

	& > li.menu-item--title > h1,
	& > li.menu-item--title > a,
	& > li.menu-item--title > span  {
		display: block;
		line-height: calc(29 / 24);
		font-weight: 300;
		
		@media (max-width: 29.9375em) {
			font-size: calc(20rem / 16);
		}
		
		@media (min-width: 30em) {
			font-size: calc(24rem / 16);
		}

		@media (min-width: 48em) {
			:not(.post-type-archive-artwork) {
				max-width: 180px;
			}
		}
		
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		margin-bottom: .5em;
		padding-left: 1em;

		li {
			position: relative;
			line-height: calc(21 / 18);
			font-weight: 500;
			
			&::before {
				content: ">";
				position: absolute;
				left: -1em;
				transform: translateX(0);
				opacity: 100%;
				transition: transform .2s ease-in-out, opacity .2s;
			}

			&:not(.current-menu-item):hover::before,
			&:not(.current-menu-item):focus::before {
				transform: translateX(-400%);
				opacity: 0;
			}
			
			@media (max-width: 29.9375em) {
				font-size: calc(14rem / 16);
				margin-block-end: 1.5em;
			}
			
			@media (min-width: 30em) {
				font-size: calc(18rem / 16);
				margin-block-end: 2em;
			}

			&:last-of-type {
				margin-block-end: 0;
			}

		}

	}

	a {
		display: block;
		text-decoration: none;
	
		&:hover {
			text-decoration: underline;
		}
	}
}

@import "main-navigation";

@import "secondary-navigation";

/* Small menu. */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
