h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.015em;
	line-height: 1.24;
}

h1 {
	font-size: calc(18rem / 16);
	margin: 0;

	.menu-item--title & {
		margin: 0;
		font-weight: inherit;
		font-size: inherit;
	}

	.site-main--default & {
		font-size: calc(36rem / 16);
	}

	.site-main--sidebar :not(.menu-item--title) > & {
		font-size: calc(24rem / 16);
		position: relative;
		margin-block-end: calc(30rem / 16);

		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 31px;
			height: 5px;
			background-color: var(--color-black);
		}
	}
}

h2 {
	font-size: 1rem;
	margin: calc(17rem / 16) 0;
	
	.site-main--default & {
		font-size: calc(21rem / 16);
		position: relative;
		margin-block-end: calc(37rem / 16);

		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 31px;
			height: 5px;
			background-color: var(--color-black);
		}
	}

	.site-main--sidebar & {
		font-size: calc(18rem / 16);
		font-weight: 600;
		text-transform: none;
	}

	.blog & {
		margin: 0;
	}
	
	p + & {
		.site-main--default & {
			margin-block-start: calc(37rem / 16);
		}
	}
}
