h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.015em;
	line-height: 1.24;
}

h1 {
	font-size: calc(18rem / 16);
	margin: 0;

	.menu-item--title & {
		margin: 0;
		font-weight: inherit;
		font-size: inherit;
	}
}

h2 {
	font-size: 1rem;
	margin: calc(17rem / 16) 0;
}