button:not(.initial__button):not(.header__menu-toggle):not(.artwork__title),
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
		cursor: pointer;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&:focus {
		outline: 1px solid dotted;
	}

	// artists list
	&.artist__button, &.edition-item__button {
		color: black;
		padding: 0;
		background: none;
		border: none;
		display: block;
		font-size: calc(18rem / 16);
		font-weight: 400;
		text-transform: uppercase;
		transition: all .5s ease-in-out, font-weight .1s ease-in-out;
		text-align: left;
		
		&.active {
			font-weight: 600;
		}
	}
	
	@media (min-width: 47.9375em) {
		
		&.artist__button {
			transform: translateX(0);
			
			&.active {
				transform: translateX(calc(15vw - 50%));
			}
		}
	}

}
