button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: var(--font-size-default);
	border: 2px solid var(--color-black);
	border-color: var(--black);
	border-radius: 0;
	background: var(--color-white);

	color: var(--color-black);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	text-transform: uppercase;

	&:hover {
		// border-color: $color__border-button-hover;
		cursor: pointer;
	}

	&:active,
	&:focus {
		// border-color: $color__border-button-focus;
	}

	&:focus {
		border-color: transparent;
		outline: 1px solid dotted;
	}

	// artists list / award edition list
	&.artist__button, &.edition-item__button {
		color: var(--color-black);
		padding: 0;
		background: none;
		border: none;
		display: block;
		font-size: calc(18rem / 16);
		font-weight: 400;
		transition: all .5s ease-in-out, font-weight .1s ease-in-out;
		text-align: left;

		&[data-active=true] {
			font-weight: 600;
		}
	}
	
	@media (min-width: 47.9375em) {
		
		&.artist__button {
			transform: translateX(0);

			&[disabled] {
				cursor: progress;
			}

			&[data-active=false]:not([disabled]):hover {
				transform: translateX(2em);
			}
			
			&[data-active=true] {
				transform: translateX(calc(15vw - 50%));
				&:hover {
					transform: translateX(calc(15vw - 50%));
				}
			}
		}
	}

}