button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
		cursor: pointer;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	// artists list
	&.artist__button {
		color: black;
		padding: 0;
		background: none;
		border: none;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}

	// initial lists
	&.initial-link {
		color: black;
		padding: 0;
		background: none;
		border: none;
		transition: all .2s ease-in-out;
		position: relative;

		&:hover {
			color: white;
		}

		&::after{
			content: "";
			position: absolute;
			background-color: transparent;
			width: 1.5em;
			height: 1.5em;
			top: calc(50% - .75em);
			left: calc(50% - .75em);
			border-radius: 50%;
			z-index: -1;
		}

		&:hover::after{
			background-color: black;
		}
	}

}
