input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--color-black);
	--border-input: 4px solid var(--color-black);
	border: none;
	border-bottom: var(--border-input);
	border-left: var(--border-input);
	border-radius: 0px;
	padding: .5em;
	// margin-bottom: 2em;

	&:focus {
		color: $color__text-input-focus;
		outline: 1px dashed var(--color-black);
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
