.wp-block-contact-form-7-contact-form-selector {
	transition: all .5s ease-in-out;
	filter: blur(0);
	opacity: 100%;

	.wpcf7-form {
		max-width: 1000px;
	}

	.form__field {
		display: flex;
		gap: 2em;
		margin-block-end: 3em;

		@media (max-width: 47.9375em) {
			flex-flow: row wrap;
			
			& > * {
				flex-basis: 100%;
			}
		}
		
		@media (min-width: 48em) {
			flex-flow: row nowrap;
			align-items: flex-start;

			& > label {
				flex-basis: 25%;
			}

			& > .wpcf7-form-control-wrap {
				flex-basis: 75%;
			}
		}
		
		& > label {
			font-size: 1.5em;
			font-weight: 600;
			text-transform: uppercase;
			font-size: calc(21rem / 16);
			position: relative;
			
			&::after {
				content: "";
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 31px;
				height: 5px;
				background-color: var(--color-black);
			}
			
		}
		
		& > .wpcf7-form-control-wrap {
			font-size: var(--font-size-default);
			
			input[type=text],
			textarea,
			input[type=email] {
				font-size: inherit;
			}
			
		}

		&.form__field--submit {
			justify-content: flex-end;
			position: relative;
			margin-block-end: 0;

			& > * {
				flex-basis: auto;
			}

			& > div {
				position: relative;
				width: fit-content;

				&::after {
					position: absolute;
					content: "";
					background-image: url("assets/img/icons/bpa_arrow.svg");
					width: 45px;
					height: 18px;
					bottom: 0.6em;
					right: 2em;
					transition: right .5s ease-in-out;

				}

				&:hover::after {
					right: 1em;
				}
			}

			input[type=submit] {
				font-size: 1.5em;
				font-weight: 600;
				text-transform: uppercase;
				border: none;
				padding: 0;
				margin-block-end: 1.1em;
			}

			.ajax-loader {
				margin: 0 1em;
				pointer-events: none;
			}
		}
	}
	.privacy-policy-block {
		p, h2 {
			margin: 1em 0;
		}
		
		h2 {
			
			&::after {
				content: none;
			}
		}
		
		p, li, h2, table {
			font-size: calc(11rem / 16);
		}

		table, figure {
			margin: 0;
		}

		font-weight: 300;
		overflow-y: scroll;
		border: 1px solid var(--color-black);
		padding: 0.3em .8em;
		max-height: 150px;
		margin-bottom: 20px;
	}

	.BorlabsCookie + & {
		position: relative;
		filter: blur(1.5px);
		opacity: 60%;
		pointer-events: none;
	}

	.BorlabsCookie + &::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		left: 0;
	}
}

.contact .entry-content {
	position: relative;
	.BorlabsCookie {
		// background-color: var(--color-white);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 100;
		
		._brlbs-content-blocker ._brlbs-default {
			// background-color: var(--color-white);
			background-color: rgba(0, 0, 0, 0.8);
			color: var(--color-white);

			a {
				color: var(--color-white);

				&:hover {
					color: var(--color-white);
				}

				&._brlbs-btn {
					color: var(--color-black);
					background-color: var(--color-white);
				}
			}
		}
	}

	.recaptcha-response {
		display: none;
	}
}