.no-sidebar {
	.site {
		max-width: 1235px;
		margin: 0 auto;
	}

	.site-main--half {
		display: grid;
		grid-template-columns: repeat(2, calc(50% - var(--scrollbar-width) / 2));
	}

	.site-main--sidebar {
		@media (max-width: 47.9375em) {
			
		}
		@media (min-width: 48em) {
			display: grid;
			grid-template-columns: calc(100% / 3 - var(--scrollbar-width) / 3) 1fr;
		}
	}
}
