.no-sidebar {
	.site {
		padding-inline-start: var(--site-padding-inline, 20px);
		padding-inline-end: var(--site-padding-inline, 20px);
		max-width: calc(1235px + var(--site-padding-inline) * 2);
		margin: 0 auto;
		@media (max-width: 47.9375em) {
			--site-padding-inline: 20px;
		}
		@media (min-width: 48em) {
			--site-padding-inline: 25px;
		}
	}

	.site-main--half {
		display: grid;
		grid-template-columns: repeat(2, calc(50% - var(--scrollbar-width) / 2));
	}

	.site-main--sidebar {
		@media (max-width: 47.9375em) {
			
		}
		@media (min-width: 48em) {
			display: grid;
			grid-template-columns: calc(100% / 3 - var(--scrollbar-width) / 3) 1fr;
		}
	}
}
