.page-template-page_catalogues,
.post-type-archive-award {
		overflow-x: hidden;
}

.award-container {
	overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	background-color: white;
	padding: 0;
	transition: var(--transition-default);
	transform: translateX(0);
	position: relative;
	--secondary-nav-padding: calc(24rem / 16);

	@media (max-width: 63.9375em) {
		max-height: calc(var(--vh, 1vh) * 90 - var(--wp-admin-bar, 0px));
		overflow-y: hidden;
	}

	@media(min-width: 48em) {

		& > * {
			padding-block-start: 2em;
			padding-block-end: 2em;
		}
		
		.award-edition-container {
			// padding-inline-end: var(--secondary-nav-padding);
		}
		
	}

	@media (min-width: 48em) and (max-width: 63.9375em) {

		.award-menu-container {
			padding-inline-start: var(--secondary-nav-padding);
		}
	}

	@media(max-width: 63.9375em) {
		width: 200%;
	}
	
	&[data-state=loaded] {

		@media (max-width: 63.9375em) {
			transform: translateX(-50%);
		}
	}
	.award-menu-container {
		overflow-x: hidden;

		@media (max-width: 63.9375em) {
			border-right: 2px solid var(--color-black);
			overflow-y: auto;
			height: calc(var(--vh, 1vh) * 90 - var(--wp-admin-bar, 0px));
		}
		@media (min-width: 64em) {
			border-right: 1px solid var(--color-black);
		}
	}
	
	.award-edition-container {
		overflow-x: hidden;
		
		@media (max-width: 63.9375em) {
			border-left: 2px solid var(--color-black);
			overflow-y: auto;
			height: calc(var(--vh, 1vh) * 90 - var(--wp-admin-bar, 0px));
		}
		
		@media (max-width: 29.9375em) {
			padding: 5vh 4vw;
		}
		
		@media (min-width: 30em) and (max-width: 63.9375em) {
			padding: unquote("min(6vh, 60px) min(11vw, 120px)");
			border-left: 2px solid var(--color-black);
			overflow-y: auto;
			height: calc(var(--vh, 1vh) * 90 - var(--wp-admin-bar, 0px));
		}
		
		@media (min-width: 64em) {
			padding: unquote("min(6vh, 60px) 0 min(6vh, 60px) min(5vw, 55px)");
			border-left: 1px solid var(--color-black);
		}

		p {
			margin: 0;
		}

		.prize__category {
			position: relative;
			list-style: none;
			counter-increment: category;

			&::marker {
				display: none;
			}

			&::before {
				content: counter(category);
				position: absolute;
				top: 0;
				left: 0;
				--diameter: 2em;
				width: var(--diameter);
				height: var(--diameter);
				padding: calc(var(--diameter) / 2 - var(--font-size-default) / 2);
				line-height: 1;
				color: var(--color-white);
				text-align: center;
				font-weight: 600;
				background-color: var(--color-black);
				border-radius: 50%;
				z-index: -1;
			}
		}

		.prize__name,
		.prize__artist {
			font-size: calc(18rem / 16);
			line-height: 1;
			letter-spacing: 0.02em;
			font-weight: 600;
			text-align: center;
			margin: 0;
		}

		.prize__name {
			text-transform: uppercase;
		}

		.prize__image {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
		}

	}
}