.home {
	.site-main--sidebar {
		padding-inline-start: 0;
		padding-inline-end: 0;
	}

	.container--home-menu {
		font-size: calc(24rem / 16);
		font-weight: 500;
		line-height: calc(28 / 24);
		
		.menu-item {
			margin-block-end: calc(30em / 24);
			
			&:last-of-type{
				margin-block-end: 0;
			}
		}
		
		@media (max-width: 47.9375em) {
			padding-block-start: calc(30em / 24);
		}
	}

	article.page {
		margin: 0;
		padding: 0;
		display: flex;
		// justify-content: end;

		@media (orientation: portrait) and (max-width: 29.9375em) {
			padding-block-start: 1em;
			padding-block-end: 1em;
			justify-content: flex-end;
			
			.circle {
				--circle-diameter: 75vw;
			}
		}
		@media (orientation: portrait) and (min-width: 30em)  and(max-width: 47.9375em) {
			padding-block-start: 1em;
			padding-block-end: 1em;
			justify-content: flex-end;
			
			.circle {
				--circle-diameter: 75vw;
			}
		}

		@media (orientation: portrait) and (min-width: 48em) {
			justify-content: center;
			
			.circle {
				--circle-diameter: 60vw;
			}
		}

		@media (orientation: landscape) and (max-width: 29.9375em) {
			justify-content: center;
			
			.circle {
				--circle-diameter: 40vh;
			}
		}

		@media (orientation: landscape) and (min-width: 30em) and (max-width: 47.9375em) {
			justify-content: center;
			padding-block-start: 1em;
			padding-block-end: 1em;
			
			.circle {
				--circle-diameter: 60vw;
			}
		}
		@media (orientation: landscape) and (min-width: 48em) {
			justify-content: start;
			
			.circle {
				--circle-diameter: min(70vh, 620px);
			}
		}

		.circle-container {
			margin: 0;
			text-transform: uppercase;
			font-weight: 500;

			@media (max-width: 47.9375em) {
				font-size: calc(14rem / 16);
			}

			@media (min-width: 48em) {
				font-size: calc(18rem / 16);
			}
			
			.circle {
				// --circle-diameter: 60vh;
				width: var(--circle-diameter);
				height: var(--circle-diameter);
				border-radius: 50%;
				background-color: var(--color-black);
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				justify-content: center;
				gap: calc(var(--circle-diameter) * 0.05);
				
				.circle__item {
					flex-basis: calc(var(--circle-diameter) * 0.1);
					display: flex;
					align-items: center;
					justify-content: center;
					max-width: calc(var(--circle-diameter) * 0.6);
					
					& a {
						color: var(--color-white);
						text-align: center;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

	}
}