.projects {
	.page-header {
		h1 {
			// font-size: calc(20rem / 16);
		}
	}

	.project {

		h2 {
			font-size: calc(18rem / 16);
			margin: calc(40rem / 16) 0;
			width: fit-content;
			transition: transform .2s ease-in-out;
			transform: translateX(0);
			
			&:hover {
				transform: translateX(1em);
			}
		}

		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}