.slides {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

.slide {
	position: absolute;
	background: white;
	height: 100%;
	width: 100%;
	display: grid;
	padding: 2em;
	margin: 0;
	grid-template-rows: 75% 1fr;
	row-gap: 1em;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	font-family: sans-serif;
	transition: all .75s ease-in-out;
	transform: translateX(-200%);
	z-index: 0;
	opacity: 0;

	& > img {
		max-width: initial;
		height: initial;
		max-height: 100%;
		width: auto;
		object-fit: contain;
		align-self: flex-end;
	}
	
	& > figcaption {
		align-self: flex-start;
	}

	.slide__hi-res {
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		background-color: white;
		transition: opacity .25s ease-in-out;
		
		img {
			max-width: initial;
			height: initial;
		}
	}
}

.slide.next + .slide {
	transform: translateX(200%);
}

.slide.prev {
	z-index: 10;
	transform: translateX(-100%);
	opacity: 100%
}
.slide.current {
	z-index: 10;
	transform: translateX(0);
	opacity: 100%
}
.slide.next {
	z-index: 10;
	transform: translateX(100%);
	opacity: 100%
}

.controls {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
	gap: 2rem;
	justify-content: center;
	padding: 2rem;
	position: absolute;
	z-index: 1000;
	bottom: 0;
}

.previous-slide, .next-slide {
	position: absolute;
	bottom: 50%;
	z-index: 1000;
	font-size: calc(32rem / 16);
	border: none;
	background-color: unset;
	padding: .2em .5em;
	transform-origin: 50% 50%;
	transition: transform .1s;

	&:hover {
		transform: scale(1.1);
	}
}
.previous-slide {
	@media (max-width: 47.9375em) {
		left: 5%;
	}
	@media (min-width: 48em) {
		left: 25%;
	}
}
.next-slide {
	@media (max-width: 47.9375em) {
		right: 5%;
	}
	@media (min-width: 48em) {
		right: 25%;
	}
}

.artwork-gallery {
	position: fixed;
	top: var(--wp-admin-bar, 0px);
	left: 0;
	width: calc(100% - var(--scrollbar-width, 0px));
	height: calc(100 * var(--vh) - var(--wp-admin-bar, 0px));
	background-color: white;
	z-index: 200;

	&.hidden {
		display: none;
	}

	.artwork-gallery__slider {
		position: relative;
		height: 100%;
	}

	.artwork-gallery__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9999;

		button {
			font-size: calc(32rem / 16);
			background-color: unset;
			border: none;
			padding: .2em .5em;
			transform-origin: 50% 50%;
			transition: transform .1;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	// .admin-bar & {
	// 	top: var(--wp-admin-bar, 0px);
	// 	height: calc(100% - var(--wp-admin-bar, 0px));
	// }
}
