// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// List item bullet 
@mixin list-item-bullet {
	&::before {
		content: ">";
		position: absolute;
		left: -1em;
		transform: translateX(0);
		opacity: 100%;
		transition: transform .2s ease-in-out, opacity .2s;
	}

	&:not(.current-menu-item):hover::before,
	&:not(.current-menu-item):focus-within::before {
		transform: translateX(-400%);
		opacity: 0;
	}
	
	&:not(.current-menu-item):focus-visible::before {
		transform: translateX(-400%);
		opacity: 0;
	}
}