.artists__initials {

	.initial__button {
		color: black;
		padding: 0;
		background: none;
		border: none;
		transition: all .2s ease-in-out;
		position: relative;
		line-height: 1;

		&::after{
			content: "";
			position: absolute;
			background-color: transparent;
			width: 1.5em;
			height: 1.5em;
			top: calc(50% - .75em);
			left: calc(50% - .75em);
			border-radius: 50%;
			z-index: -1;
		}

		&:hover {
			color: white;

			&::after {
				background-color: black;
			}
		}

		&[data-active=true] {
			color: white;

			&::after {
				background-color: black;
			}

			&:hover {
				filter: invert(100%);
			}
		}


		&:focus {
			outline: none;

			&::after {
				border: 1px black dotted;
			}
		}


	}

}
