.artists__initials {
	position: absolute;
	top: 0;
	right: 0;
	height: calc(var(--vh, 1vh) * 90 - var(--wp-admin-bar, 0px) - var(--collection-header-height, 0px));
	margin: 0.2em 0;
	/* 🤷‍♂️ */
	margin-right: unquote("min(max(.9vw, .7em), 1em)");
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	line-height: 1;

	@media (max-height: 37.9375em) {
		justify-content: space-between;
	}
	
	@media (min-height: 38em) {
		justify-content: space-evenly;
	}

	.initial__button {
		color: black;
		padding: 0;
		background: none;
		border: none;
		transition: all .2s ease-in-out;
		position: relative;
		line-height: 1;
		width: 1em;
		height: 1em;
		text-transform: uppercase;
		@media (orientation: portrait) and (max-height: 63.9375em) {
			font-size: unquote("max(1.75vh, calc(12rem / 16))");
		}
		@media (min-height: 64em) and (min-width: 48em) {
			font-size: calc(18rem / 16);
		}

		&::after{
			content: "";
			position: absolute;
			background-color: transparent;
			width: 1.5em;
			height: 1.5em;
			top: calc(50% - .75em);
			left: calc(50% - .75em);
			border-radius: 50%;
			z-index: -1;
			transition: background-color .2s ease-in-out;
		}

		// &:hover {
		// 	color: white;
		// 	font-weight: 500;

		// 	&::after {
		// 		background-color: black;
		// 	}
		// }

		&[data-active="true"] {
			color: white;
			
			&::after {
				background-color: black;
			}
			
			&:hover, &:focus {
				filter: invert(100%);
				
				&::after {
					border: 1px white solid;
				}
			}
		}


		&:hover, &:focus {
			outline: none;

			&::after {
				border: 1px black solid;
			}
		}


	}

}
